/**
 * ----------
 * Generals
 * ----------
 */
body {
    font-family: 'Cabin', sans-serif;
}

img {max-width:100%;}
/**
 * ----------
 * Classes
 * ----------
 */
.wrapper {
    margin : 0 auto;
    max-width: 1200px;max-width: 120rem;
    position: relative;
}

.bt {
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: capitalize;
}

.justify {
    position: relative;
    text-align: justify;
}
    .justify::after {
        content:'';
        display:inline-block;
        font-size:0;
        height:0;
        line-height:0;
        margin:0;
        padding:0;
        width:100%;
    }
    .justify > * { display: inline-block;}
 .menu {
    display: inline-block;
    font-size:14px;font-size:1.4rem;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0 35%;
    vertical-align: middle;
 }
    .menu > li {
        display: inline;
    }
        .menu a {
            color: #ffffff;
            display: inline-block;
            padding: 20px 15px;padding: 2rem 1.5rem;
            text-decoration: none;
            transition-duration: .3s;
            border-color:transparent;
            border-width: 2px;
            border-style: solid;
            border-radius: 20px;
            border-bottom-left-radius: 0;
        }
        .menu a:hover, .menu a:focus, .menu a:active {
            border-color:#ffffff;
        }

.featured {
    background:transparent url(img/bg.png) center bottom no-repeat;
    background-size:cover;
    padding: 240px 0 320px 0; padding: 24rem 0 32rem 0;
}
    .featured h1 {
        color: #ffffff;
        font-size: 60px; font-size: 6rem;
        margin: 0 0 30px 0; margin: 0 0 3rem 0;
        position: relative;
    }
        .featured h1::after {
            content: 'C';
            color: rgba(255,255,255,.4);
            font-size: 230px;font-size: 23rem;
            position: absolute;
            top: -80px;
            left: -20px;
        }
    .featured figure {
        position:absolute;
        top: -90px;top: -9rem;
        right: -200px;right: -20rem;
    }
    .featured form {
        margin-top : 100px; margin-top:10rem;
    }
    .featured .bt {
        background-color:#fb397d;
        border-color:#fb397d;
        color: #ffffff;
    }


.title-lvl2 {
    text-align: center;
    color:#5b32b4;
    font-size: 36px;font-size:3.6rem;
    line-height:1.6;
    text-transform: capitalize;
    font-weight: normal;
}
.title-lvl2::after {
    content:'';
    display:block;
    background-color:#fb397d;
    height: 2px;height: .2rem;
    width: 80px;
    margin: 0 auto;
}


.special section {
    width: 30%;
    border-width: thin;
    padding: 20px;padding: 2rem;
    text-align: center;
}
.special .title-lvl3::before {
    display: block;
    margin: 0 auto 20px auto;margin:0 auto 2rem auto;
    padding: 0;
    font-size:30px;
}
.special section:first-child .title-lvl3::before {
    content:"\f3cd";
}
.special section:nth-child(2) .title-lvl3::before {
    content:"\f3cd";
}
.special section:last-child .title-lvl3::before {
    content:"\f3cd";
}
.video {
    z-index: 10;
    position: relative;
    text-align: center;
}
.marketing {
    z-index: 1;
    background: #f23091;
    background: -moz-linear-gradient(-45deg, #f23091 0%, #463059 100%);
    background: -webkit-linear-gradient(-45deg, #f23091 0%,#463059 100%);
    background: linear-gradient(135deg, #f23091 0%,#463059 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23091', endColorstr='#463059',GradientType=1 );
    color:#ffffff;
    padding:190px 0 80px 0;padding:19rem 0 8rem 0;
    position:relative;
    top: -100px;top:-10rem;
}
/**
 * ----------
 * IDs
 * ----------
 */
#banner {
    padding: 30px 90px;padding: 3rem 9rem;
    position: absolute;
    left: 0;
    right: 0;
    top :0;
}
#logo {
    display: inline-block;
    padding: 0 20px;padding: 0 2rem;
    vertical-align: middle;
}
#signup {
    border-color: rgba(255,255,255,.7);
    color: #ffffff;
    display: inline-block;
    font-size:14px;font-size:1.4rem;
    margin-left: 130px;margin-left: 13rem;
    vertical-align: middle;
}