/*
 Theme Name:   Objectif 3W
 Theme URI:    http://www.objectif3w.com/
 Description:  Designed for Objectif 3W company as part of a training project
 Author:       Designed by Objectif 3W
 Author URI:   http://www.objectif3w.com/
 Version:      1.0.0
 License:      Copyright ©2016 Objectif 3W - All rights reserved
 License URI:  http://www.objectif3w.com/mentions-legales/
 Tags:         training, light
 Text Domain:  o3w
*/

@charset "utf-8";

fieldset {
  border:none;
  /*border-top:rgba(0,0,0,.5) .5px solid;border-top:rgba(0,0,0,.5) .05rem solid;*/
  display:block;
  margin:10px auto;margin:1rem auto;
  padding:10px 0 0 0;padding:1rem 0 0 0;
}
fieldset legend {
  display:inline-block;
  margin:0 auto;
  padding:10px 10px 10px 0;padding:1rem 1rem 1rem 0;
}
.fieldset {
  border-color:rgb(199,4,119);
  text-align:left;
}
.legend {
  color:rgb(199,4,119);
  font-size:16px;font-size:1.6rem;
  margin-left:0;
  text-align:left;
}
/* ------    formulaires    ------ */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]),textarea,select {
  /* transition */
  -webkit-transition-delay:0s;
  -moz-transition-delay:0s;
  -ms-transition-delay:0s;
  -o-transition-delay:0s;
  transition-delay:0s;
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
  -webkit-transition-timing-function:ease-in-out;
  -moz-transition-timing-function:ease-in-out;
  -ms-transition-timing-function:ease-in-out;
  -o-transition-timing-function:ease-in-out;
  transition-timing-function:ease-in-out;
}
/* ------    boutons    ------ */
[data-role="button"],[data-role="submit"] {
  cursor:pointer;
  position:relative;

  /* sélection */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  /* transition */
  -webkit-transition-delay:0s;
  -moz-transition-delay:0s;
  -ms-transition-delay:0s;
  -o-transition-delay:0s;
  transition-delay:0s;
  /* transition */
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
  -webkit-transition-timing-function:ease-in-out;
  -moz-transition-timing-function:ease-in-out;
  -ms-transition-timing-function:ease-in-out;
  -o-transition-timing-function:ease-in-out;
  transition-timing-function:ease-in-out;
}

.form {
  margin:0;
  padding:0;
  position:relative;
  text-align:left;
}
.form [data-role="wrapper"] {
  display:inline-block;
  margin:0 0 7px 0;margin:0 0 .7rem 0;
  overflow:visible;
  padding:0;
  position:relative;
  vertical-align:top;
  width:100%;
}
.form [data-role="wrapper"].moitie {
  margin-left:.5%;
  margin-right:.5%;
  width:49.5%;
}
.form [data-role="wrapper"].moitie:nth-child(2n+1) { margin-left:0; }
.form [data-role="wrapper"].moitie:nth-child(2n) { margin-right:0; }
.form label { vertical-align:middle; }
.form [data-role="label"] {
  color:rgb(0,0,0);
  display:block;
  padding:4px 0;padding:.4rem 0;
}
.form [data-role="label"].placeholder {
  background-color:rgb(255,255,255);
  bottom:0;
  font-style:italic;
  left:0;
  padding:4px 7px;padding:.4rem .7rem;
  position:absolute;
  right:0;
  top:0;
}
.form [data-role="label"].required::after {
  content:'*';
  padding:0 0 0 4px;padding:0 0 0 .4rem;
}
.form input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]),.form textarea,.form select {
  background-color:rgba(255,255,255,.3);
  border:rgb(0,0,0) thin solid;
  color:rgb(0,0,0);
  display:block;
  line-height:normal;
  padding:4px 7px;padding:.4rem .7rem;
  position:relative;
  width:100%;

  /* transition */
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
  -webkit-transition-timing-function:ease-in-out;
  -moz-transition-timing-function:ease-in-out;
  -ms-transition-timing-function:ease-in-out;
  -o-transition-timing-function:ease-in-out;
  transition-timing-function:ease-in-out;
}
.form textarea { resize:none; }
.form select { padding:3.5px 7px;padding:.35rem .7rem; }
.form input[type="checkbox"],.form input[type="radio"],.form input[type="file"],.form input[type="submit"],.form input[type="button"] { vertical-align:middle; }
.form input[type="file"] {
  border:none;
  display:block;
  line-height:normal;
  position:relative;
  width:100%;
}
.form input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]):focus,.form input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]):active,.form input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]).selected,.form textarea:focus,.form textarea:active,.form textarea.selected,.form select:focus,.form select:active,.form select.selected { background-color:rgb(255,255,255); }

.form [data-role="submit"] {
  background-color:rgb(199,4,119);
  border:none;
  color:rgb(255,255,255);
  cursor:pointer;
  display:inline-block;
  font-size:12px;font-size:1.2rem;
  font-weight:700;
  line-height:normal;
  margin:5px 0;margin:.5rem 0;
  padding:5px 7px;padding:.5rem .7rem;
  position:relative;
  text-align:center;
  text-decoration:none;

  /* sélection */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  /* transition */
  -webkit-transition-duration:.2s;
  -moz-transition-duration:.2s;
  -ms-transition-duration:.2s;
  -o-transition-duration:.2s;
  transition-duration:.2s;
  -webkit-transition-timing-function:ease-in-out;
  -moz-transition-timing-function:ease-in-out;
  -ms-transition-timing-function:ease-in-out;
  -o-transition-timing-function:ease-in-out;
  transition-timing-function:ease-in-out;
}
.form [data-role="submit"]:hover,.form [data-role="submit"]:focus,.form [data-role="submit"]:active { background-color:rgb(255,102,51); }