        <div id="ex2">
            <h1>Quelques <em>citations</em> amusantes ...</h1>
            <p>
                <q>Quand les bornes sont franchies, il n'y a plus de limite.</q> Pierre Dac.<br>
                <q>On l'a retrouvé assassiné un jour, il en est mort.</q> Hugues dans Le Grand détournement - La Classe américaine.<br>
                <q>Ma patience a des limites mais il ne faut pas exagérer.</q> Fred Williamson dans White Fire.<br>
                <q>Je vais te tuer jusqu'à ce que tu sois mort !</q> Jerry Haleva alias Saddam Hussein dans Hot Shots 2.<br>
                <q class="ma_classe">Selon l'ancien code des corsaires : celui qui crève est vaincu !</q> President Thomas -Tug- Benson dans Hot Shots 2.<br>
                <q>Ce que j'ai écrit, je l'ai écrit.</q> Ponce Pilate.<br>
                <q>Quand c'est rugueux, c'est pas lisse.</q> Jacques Lanzmann<br>
                <q>Je pense que nous sommes d'accord : le passé est révolu.</q> George W. Bush.<br>
                <q>La plupart de nos importations viennent de l'étranger.</q> George W. Bush<br>
                <q>Je vais te faire pleurer jusqu'à ce que tu pleures.</q> Jamel Debbouze dans Le Boulet.<br>
                <q>Si on n'avait pas perdu une heure et quart, on serait là depuis une heure et quart.</q> Johnny Halliday.<br>
                <q>La meilleure façon de dire la vérité, c'est de ne pas mentir.</q>
                <q>Cet homme a quitté la France depuis quinze ans et depuis quinze ans il est à l'étranger.</q>
                Charles Lemontier alias Jacques II de Chabannes de La Palice dans François Ier.<br>
            </p>
        </div>