@media screen and (max-width:1400px) {
    .featured figure {
        right:0;
        max-width:50%;
    }
}
@media screen and (max-width:1281px) {
    #banner {padding: 15px 30px;padding: 1.5rem 3rem;}
    .featured {padding-left:150px;}
    .menu {margin-left:5%;}
    #signup {margin-left:3%;}
    .wrapper {padding:15px;}
}
@media screen and (max-width:1024px) {
    html { font-size: 52.5%; }
}
@media screen and (min-width:480px) and (max-width:800px) {
    #banner {padding: 10px;padding: 1rem;}
    #logo {max-width: 10%;}
    .menu {margin-left:0;}
    .menu a {padding: 4px 7px;}
    #signup {margin-left:0;padding:5px;}
}