/*
 Theme Name:   {__THEME_NAME__}
 Theme URI:    {__THEME_URI__}
 Description:  {__THEME_DESCRIPTION__}
 Author:       {__AUTHOR_NAME__}
 Author URI:   {__AUTHOR_URI__}
 Version:      {__THEME_VERSION__}
 License:      {__THEME_LICENSE__}
 License URI:  {__LICENSE_URI__}
 Tags:         {__THEME_TAGS__}
*/

@charset "utf-8";
/* CSS Document */



/**
 * --------------------------------------------------
 * GENERALS
 * --------------------------------------------------
 */
*,*::before,*::after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    -ms-background-clip:padding-box;
    background-clip:padding-box;
}
:hover,:focus,:active { outline:none; }



/**
 * --------------------------------------------------
 * TAGS
 * --------------------------------------------------
 */
/* HTML5 */
/*header,hgroup,nav,aside,article,figure,figcaption,section,details,footer,address { display:block; }*/
address { font-style:normal; }
input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="range"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],input[type="week"],input::-webkit-input-placeholder { -webkit-appearance:none; }
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none; }
/* GENERALS */
html,body { margin:0;padding:0; }
html { font-size:62.5%; }
body {
    color:rgb(116,116,116);
    cursor:default;
    font-family:'Open Sans', sans-serif;
    font-size:1.4rem;
    line-height:1.2;
}
p { margin:0 0 10px 0;margin:0 0 1rem 0; }
blockquote,q {
    /*background:transparent url(./themes/parent/images/decorum/quote-closing.png) right bottom no-repeat;*/
    display:inline-block;
    margin:0;
    min-height:12px;min-height:1.2rem;
    padding:0 20px;padding:0 2rem;
    quotes:none;
}
/*blockquote:first-letter,q:first-letter { padding-left:20px;padding-left:2rem; }*/
blockquote:before,q:before {
    content:url(./themes/parent/images/decorum/quote-opening.png);
    float:left;
    margin:0 10px 0 0;margin:0 1rem 0 0;

    /* sélection */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
blockquote:after,q:after {
    content:url(./themes/parent/images/decorum/quote-closing.png);
    float:right;
    margin:0 0 0 10px;margin:0 0 0 1rem;

    /* sélection */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
fieldset {
    border:none;
    display:inline-block;
    margin:10px 0;margin:1rem 0;
    padding:0;
    vertical-align:top;
}
    fieldset legend {
        background-color:rgb(116,116,116);
        color:rgb(255,255,255);
        display:inline-block;
        font-weight:bold;
        margin:0 0 10px 0;margin:0 0 1rem 0;
        padding:10px;padding:1rem;
        text-transform:uppercase;
        vertical-align:top;
    }
strong { font-weight:700; }
em { font-style:italic; }
sup {
    font-size:smaller;
    font-style:italic;
}
img {
    border:none;
    display:block;
    line-height:1;
    margin:0;
    max-width:100%;
    padding:0;

    /* sélection */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
figure {
    line-height:1;
    margin:0;
    padding:0;
    position:relative;
}
    figure > img {
        height:auto !important;
        max-width:100%;
    }
a {
    display:inline-block;

    /* transition */
    -webkit-transition-duration:.2s;
    -moz-transition-duration:.2s;
    -ms-transition-duration:.2s;
    transition-duration:.2s;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    -ms-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    text-transform:uppercase;
    /*white-space:nowrap;*/
}
h1 { color:rgb(116,116,116); }
/* HEADER */
header[role="banner"] {
    clear:both;
    margin:0;
    padding:20px;padding:2rem;
    position:relative;
}
    #logo { max-height:100%; }
/* MAIN */
main[role="main"] {
    clear:both;
    margin:0;
    padding:0 20px;padding:0 2rem;
    position:relative;
}
    section {
        clear:both;
        margin:0;
        padding:0;
        position:relative;
    }
        [role="article"] {
            margin:0;
            padding:0;
            position:relative;
        }
        [role="article"] ul:not([class]) {
            list-style:none;
            margin:20px 0;margin:2rem 0;
            padding:0;
        }
        [role="article"] a:not([class]) {}
/* COMPLEMENTARY */
aside[role="complementary"] {
    clear:both;
    margin:0;
    padding:0;
    position:relative;
}
/* FOOTER */
footer[role="contentinfo"] {
    clear:both;
    font-size:smaller;
    height:10vh;
    line-height:10vh;
    margin:0;
    padding:0 20px;padding:0 2rem;
    position:relative;
    text-align:center;
}



/**
 * --------------------------------------------------
 * CLASSES
 * --------------------------------------------------
 */
/* WRAPPERS */
[data-role="wrapper"] {
    display:block;
    margin:0 auto;
    max-width:1000px;max-width:100rem;
    overflow:hidden;
    padding:0;
    position:relative;
}
[data-role="wrapper"].wrapper { padding:0 20px;padding:0 2rem; }
[data-role="wrapper"].text-justify::after { /* Permet de justifier les éléments inline-block dans le nav */
    content:'';
    display:inline-block;
    font-size:0;
    height:0;
    line-height:0;
    margin:0;
    padding:0;
    width:100%;
}
/* GRIDS */
.grid-wrapper {
    font-size:0;
    letter-spacing:normal;
    margin:0;
    padding:0;
}
    .grid-wrapper .grid10,.grid-wrapper .grid12 {
        display:inline-block;
        font-size:14px;font-size:1.4rem;
        margin-left:0;
        margin-right:0;
        position:relative;
        vertical-align:top;
    }
    .grid-wrapper .grid10.x1 { width:10%; }
    .grid-wrapper .grid10.x2 { width:20%; }
    .grid-wrapper .grid10.x3 { width:30%; }
    .grid-wrapper .grid10.x4 { width:40%; }
    .grid-wrapper .grid10.x5 { width:50%; }
    .grid-wrapper .grid10.x6 { width:60%; }
    .grid-wrapper .grid10.x7 { width:70%; }
    .grid-wrapper .grid10.x8 { width:80%; }
    .grid-wrapper .grid10.x9 { width:90%; }
    .grid-wrapper .grid10.x10 { width:100%; }

    .grid-wrapper .grid12.x1 { width:8.333333333%; }
    .grid-wrapper .grid12.x2 { width:16.666666666%; }
    .grid-wrapper .grid12.x3 { width:25%; }
    .grid-wrapper .grid12.x4 { width:33.333333333%; }
    .grid-wrapper .grid12.x5 { width:41.666666666%; }
    .grid-wrapper .grid12.x6 { width:50%; }
    .grid-wrapper .grid12.x7 { width:58.333333333%; }
    .grid-wrapper .grid12.x8 { width:66.666666666%; }
    .grid-wrapper .grid12.x9 { width:75%; }
    .grid-wrapper .grid12.x10 { width:83.333333333%; }
    .grid-wrapper .grid12.x11 { width:91.666666666%; }
    .grid-wrapper .grid12.x12 { width:100%; }
/* */
.button {
    background-color:rgb(210,210,210);
    border:none;
    color:rgb(255,255,255);
    display:block;
    font-weight:700;
    margin:25px 0;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width:100%;
}
.button:hover,.button:focus,.button:active { background-color:rgb(116,116,116); }
/* */
.alert {
    background-color:orange;
    color:white;
    display:inline-block;
    padding:10px;padding:1rem;
    position:relative;
    vertical-align:top;
}
.alert::before {content:"/!\\ ";}
    .alert a { color:white; }
/* */
.green { color:green; }

.debug { display:block; }



/**
 * --------------------------------------------------
 * COMPONENTS
 * --------------------------------------------------
 */
/* ------    formulaire    ------ */
[data-role="formulaire"] {
    font-size:0;
    margin:0;
    padding:0;
    position:relative;
    width:250px;width:25rem;
}
    [data-role="formulaire"] [data-role="wrapper"] {
        display:inline-block;
        font-size:14px;font-size:1.4rem;
        margin:0 0 7px 0;margin:0 0 .7rem 0;
        overflow:visible;
        padding:0;
        position:relative;
        vertical-align:top;
        width:100%;
    }
    [data-role="formulaire"] [data-role="wrapper"].half {
        margin-left:.5%;
        margin-right:.5%;
        width:49.5%;
    }
    [data-role="formulaire"] [data-role="wrapper"].half:nth-child(2n+1) { margin-left:0; }
    [data-role="formulaire"] [data-role="wrapper"].half:nth-child(2n) { margin-right:0; }
        [data-role="formulaire"] [data-role="label"] {
            display:block;
            font-size:14px;font-size:1.4rem;
            font-style:italic;
            padding:4px 0;padding:.4rem 0;
            position:relative;
        }
        [data-role="formulaire"] [data-role="label"].required::after {
            content:'*';
            padding:0 0 0 4px;padding:0 0 0 .4rem;
        }
        [data-role="formulaire"] input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]),[data-role="formulaire"] textarea,[data-role="formulaire"] select {
            border:thin solid;
            display:block;
            line-height:normal;
            padding:4px 7px;padding:.4rem .7rem;
            position:relative;
            vertical-align:middle;
            width:100%;

            /* transition */
            -webkit-transition-duration:.2s;
            -moz-transition-duration:.2s;
            -ms-transition-duration:.2s;
            -o-transition-duration:.2s;
            transition-duration:.2s;
            -webkit-transition-timing-function:ease-in-out;
            -moz-transition-timing-function:ease-in-out;
            -ms-transition-timing-function:ease-in-out;
            -o-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
        }
        [data-role="formulaire"] textarea {
            min-height:180px;min-height:18rem;
            resize:none;
        }
        [data-role="formulaire"] select { padding:3.5px 7px;padding:.35rem .7rem; }
        [data-role="formulaire"] input[type="file"] {
            border:none;
            display:block;
            line-height:normal;
            position:relative;
            vertical-align:middle;
            width:100%;
        }
        [data-role="formulaire"] input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]):focus,[data-role="formulaire"] input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]):active,[data-role="formulaire"] input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]):not([type="button"]).selected,[data-role="formulaire"] textarea:focus,[data-role="formulaire"] textarea:active,[data-role="formulaire"] textarea.selected,[data-role="formulaire"] select:focus,[data-role="formulaire"] select:active,[data-role="formulaire"] select.selected { background-color:rgb(255,255,255); }

        [data-role="formulaire"] [data-role="submit"] {
            background-color:rgb(210,210,210);
            border:none;
            color:rgb(255,255,255);
            cursor:pointer;
            display:inline-block;
            font-weight:700;
            line-height:normal;
            /*margin:5px 0;margin:.5rem 0;*/
            padding:5px 7px;padding:.5rem .7rem;
            position:relative;
            text-align:center;
            text-decoration:none;

            /* sélection */
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            -o-user-select:none;
            user-select:none;
            /* transition */
            -webkit-transition-duration:.2s;
            -moz-transition-duration:.2s;
            -ms-transition-duration:.2s;
            -o-transition-duration:.2s;
            transition-duration:.2s;
            -webkit-transition-timing-function:ease-in-out;
            -moz-transition-timing-function:ease-in-out;
            -ms-transition-timing-function:ease-in-out;
            -o-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
        }
        [data-role="formulaire"] [data-role="submit"]:hover,[data-role="formulaire"] [data-role="submit"]:focus,[data-role="formulaire"] [data-role="submit"]:active { background-color:rgb(215,9,129); }

        [data-role="formulaire"] .text-quote { font-size:14px;font-size:1.4rem; }



/**
 * --------------------------------------------------
 * ID
 * --------------------------------------------------
 */



/**
 * --------------------------------------------------
 * Media Queries CSS3
 * --------------------------------------------------
 */