
		/* INFOS 
		******************************************************************** 
		Voici une alternative de montage HTML/CSS pour cette maquette.
		Ce montage a été réalisé sur une taille fixe (pas de responsive) 
		et uniquement avec des anciens CSS de montage (pas de flex ou de grid)

		Ce code a été créé surtout pour montrer qu'il n'y a pas une seule manière d'aborder une intégration HTML/CSS.

		A savoir sur cet exemple de codage : 
		--------------------------------------
		- les css ne sont pas préfixés (Utilsez par exemple "https://autoprefixer.github.io/" pour prefixer vos CSS).
		- les attributs normes Aria (role="") n'ont pas étaient intégrés
		- les balises type "H" ont été disposées suivant une apréciation de départ mais il est impossible 
		  avec des textes "lorem" de positionner réellement ces balises sans plus d'informations.	
		- une optimisation doit être faite en fonction des autres pages du site (impossible actuellement, une seule maquette pour l'accueil)	  
		*/


			/* reset */
			/* ********************************************* */			
			body{ margin:0; }
			*,*::before,*::after {	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;} 
			img{border:none;}		
			ul,li{ margin: 0; padding : 0; list-style: none}
			.stopFloat::after{ content:""; display: block; clear: both; }



			/* commun */
			/* ********************************************* */

			body{font-family: arial, tahoma, sans-serif; font-size:10px; font-size:62.5%; color:#7b5a47; background: #f0efe0;}
			.color2{ color:#523c2f; }	/* coul titre */

			.centrageTailleFixe{ width:945px; margin:0 auto; position: relative;}

			a{color:#7b5a47; transition : all .5s }
			a:hover{color:#d17b00;}
			


			@font-face {
				font-family:'Romeral';
				src:url('../fonts/Romeral.ttf.eot');
				src:url('../fonts/Romeral.eot?#iefix') format('embedded-opentype'),
					url('../fonts/Romeral.ttf.svg#Romeral') format('svg'),
					url('../fonts/Romeral.ttf.woff') format('woff');
				font-weight:400;
				font-style:normal;
			}





		/* ********************************************* */
		/* HEADER */
		/* ********************************************* */

			.header{ background:#fff url(../images/creneauxHaut.png) repeat-x; height:145px; }

			.logo{ position: absolute; top:5em; left:3em;}
			

			/* bloc nav - montage "display:table"*/
			/* ------------------------------------ */
			.nav{ 
				position: absolute; 
				top:5.5em; 
				right:2em; 
				display: table; 
				border-radius: 5px; 
				border: 1px solid #ded5cf; 
				background: #f0edd9;
				background: linear-gradient( #f2f1e4 50%, #eeebd5 10%); 
			}
			.nav a{ 
				display: table-cell; 
				padding: 0 2.5em; 
				font-size: 1.3em; 
				line-height: 51px; 
				text-transform: capitalize; 
				font-weight: 700; 
				text-shadow: 2px 2px 1px #fff; 
				color:#491701; 
				position: relative; 
				text-decoration: none;
			}
			.nav a:hover{color:#d17b00;}




			/* gestion des effets de double bordure dégradées par pseudo éléments */			
			.nav a::after, .nav a::before{
				content:""; 
				position:absolute; 
				width:1px; 
				height:100%; 				
			}
			.nav a::after{ 
				background: linear-gradient(rgba(255,255,255,0) 10%, #fff 100%); 
				left:0;
			}
			.nav a::before{ 
				background: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,.15) 100%); 
				right:0;
			}
			.nav a:nth-of-type(1)::after{display: none; }
			.nav a:last-child::before{display: none; }






		/* ********************************************* */
		/* SLIDER */
		/* ********************************************* */

			.sliderSupport{ background: linear-gradient(#e7e4d5 0%, #e3decf 100%); font-size:14px; line-height: 1.5em; }
			
			.sliderSupport .bout{ position: absolute; top :50%; width:100%;}
			.sliderSupport .bout div{ position: absolute;}
			.sliderSupport .boutLeft, .sliderSupport .boutRight{				
				width:44px; 
				height: 44px; 
				background: #f2912c;
				background: linear-gradient(#f5bd3b 0%, #f2912c 100%);
				box-shadow: 0 2px 1px rgba(0,0,0,0.5), 1px 0px 1px rgba(255,255,255,0.5) inset, -1px 0px 1px rgba(255,255,255,0.5) inset ;
				border:1px solid #e48321; 
				border-radius: 50%;
				top:-22px;
				text-align: center;
				line-height: 43px;
				font-size: 25px;
				color:#fff;
				text-shadow:  0 2px 1px rgba(0,0,0,0.5);
			}
			.sliderSupport .boutLeft{ left:5%; padding-right: 3px;}
			.sliderSupport .boutRight{ right:5%; padding-left: 3px;}

			.slider{ padding:  0 15% 0 15%; display:table; height:200px; overflow:hidden; }
			.titreSlider{ font-family: 'Romeral'; font-size: 1.2em}					
			.slider .txt , .slider img {display:table-cell; vertical-align: middle}

			/* slide 1 */			







		/* ********************************************* */
		/* Centrale / Accueil */
		/* ********************************************* */

			/* Placement par flottant et Communs */	
			.accueil .main{ float:left; width:60%; margin-left: 5%; padding:3em;	}
			.accueil .colRight{ float:right;  width:35%; padding:3em;}	
			
		 
			h1,.main .titre, .colRight .articlesAnnexesSecondaires .titre, .colRight .blocAdresse .titre{font-size: 2em; margin:1em 0; font-weight: 400}
			
			.centreMain{ background: url(../images/crenauxBas.png) repeat-x bottom }
			.centreMain a{ font-weight: 700 }




			/* habillage main */
			/* -------------------------------------------- */
			.main{ 	
				background: #f0efe1;
				background: linear-gradient(#f4f4ea, #f0efe1);			
	  			border: 1px solid #cec6b8;
	  			border-image: linear-gradient(#e9e6d8 0%, #dbd4c6 50%) 10;
	  			margin-bottom: 4em; 
	  			border-top: none;						
			}		

			.main p{font-size: 1.4em;  line-height: 1.45em}
			.main h2{ margin:0; }
			
			.articlesAnnexesPrincipaux .article{ display:table; width:100%;  margin-bottom: 3em}
			.articlesAnnexesPrincipaux .article img, .articlesAnnexesPrincipaux .article .txt{ display: table-cell; vertical-align: top;}
			.articlesAnnexesPrincipaux .article img{border:4px solid #c9bcad;}
			.articlesAnnexesPrincipaux .article .txt{padding-left: 2.7em;}

			


			/* habillage colonne */
			/* -------------------------------------------- */
			.colRight h3{	margin:0; font-weight: 700}	
			.colRight p{ font-size:1.3em;  line-height: 1.5em}	
			
			/* articles secondaires */
			.articlesAnnexesSecondaires h3 em{font-weight: 400}			
			.articlesAnnexesSecondaires .article{ padding-bottom: 1.5em }

			/*bloc adresse */
			.colRight .blocAdresse { font-style: normal; border-top: 1px solid #d2cdbf; padding:1.5em 0; margin:1em 0;}
			.colRight .blocAdresse p{    padding-left: 2em;  background: url(../images/crenaux-gauche.png) repeat-y left; line-height: 1.5em;}
	




		

		/* ********************************************* */
		/* BLOC Reassur accueil */
		/* ********************************************* */
			.reassur{ width:590px; margin: 1.5em 0 2.5em -2.9em; position: relative; background:#e3decf; font-size:1.9em;}
			.reassur ul{ display: table; width:100%; background:#e3decf; border-right: 1px solid #b0aca1; border-bottom: 1px solid #b0aca1;}
			.reassur li{ display: table-cell; padding : 1em; vertical-align: middle; width:33.33%;}
			
			
			/* Deco (flèche) */
			/* --------------------- */
			.reassur li:nth-of-type(1){ width:0%; padding:0;}

			.reassur .deco{ 
				content:"";
				position: relative;
				width:21px;
				height: 31px;
				overflow: hidden;
				left: -4px;								
			}

			.reassur .deco::before{ 
				content:"";
				position: absolute;
				transform: rotate(45deg);
				height: 22px;
				width: 22px;
				background: #f0efe0;
				right: 5px;
				top:12%;
				border-top: #d8d4c5 1px solid;
			}

			.reassur .deco::after{ 
				content:"";
				position: absolute;
				transform: rotate(45deg);
				height: 22px;
				width: 22px;
				background: #b6b4a8;
				right: 10px;
				top:15%;
			}


			/* bloc pictos / txt */
			/* --------------------- */
			
			.reassur li span{ 
				display:block; padding:0.4em; 
				background: #f0efe0; 
				background: linear-gradient(to right, rgba(234,231,219,0) 0%, #e8e5d7 15%);
	  			border: 1px solid #cec6b8;
	  			border-image: linear-gradient(to left, #cec6b8, #e4dfd0) 10;
				padding-left:3em; 
				position: relative;
			}
			

			.reassur li span::before{ content:url(../images/picto-light.png); position: absolute; left:-.3em; top:-.3em;}
			.reassur .pen span::before{ content:url(../images/picto-pen.png); position: absolute; left:-.3em; top:-.3em;}
			.reassur .heart span::before{ content:url(../images/picto-heart.png); position: absolute; left:-.3em; top:-.3em;}





		/* ********************************************* */
		/* Footer */
		/* ********************************************* */

			.footer{background: #d8d1c1; color:#694d3c; font-size: 1.3em;}
			.footer .centrageTailleFixe{ padding: 1.5em 0 3.5em 0 }
			.footer .centrageTailleFixe span{ float:right; padding:0 3em;}
			.footer .centrageTailleFixe .copyRight{ float:left;}	



